<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BusBoard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
			<div class="topnav">
				  <a class="active" href="http://robinjoel-001-site1.gtempurl.com/Home/Index">Home</a>
				  <a href="http://robinjoel-001-site1.gtempurl.com/Home/Contact">Contact</a>
				  <a href="http://robinjoel-001-site1.gtempurl.com/Home/About">About</a>
			</div> 
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year Softwire - All Rights Reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
